@model LoginViewModel
@{
    ViewData["Title"] = "SAML IDP";
}

@using (Html.BeginForm("", "Home", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <div class="container-fluid bg-light">
        <div class="row justify-content-center">
            <div class="col-md-7 col-lg-5">
                <div class="row">
                    <div class="text-center">
                        <h1 class="display-4">Welcome</h1>
                        <p>Identify yourself using the method of choice from below.</p>
                    </div>
                </div>
                <div class="row">
                    <h3 class="mb-4 text-center">Have an account?</h3>
                </div>
                <div class="row">
                    <div class="form-group">
                        @Html.LabelFor(x => x.UserName,new {@class="form-label h6"})
                        @Html.TextBoxFor(x => x.UserName, new {@class="form-control"})
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(x => x.Password,new {@class="form-label h6"})
                        @Html.TextBoxFor(x => x.Password, new {@class="form-control", @type="password"})
                    </div>
                    <div class="mb-2"></div>
                    <div class="form-group">
                        <div class="d-grid">
                            <button type="submit" class="btn btn-info" formaction="@Url.Action("Login", "Home")">Submit</button>
                        </div>
                    </div>
                </div>
                <div class="mb-2"></div>
                <div class="row">
                    <p class="w-100 text-center h8 text-secondary">- Or Sign in using -</p>
                </div>
                <div class="mb-2"></div>
                <div class="row">
                    <div class="form-group">
                        <div class="d-grid">
                            <button type="submit" class="btn btn-warning" formaction="@Url.Action("LoginUsingDSONE", "Home")">DSONE account</button>
                        </div>
                    </div>
                </div>
                <div class="mb-2"></div>
            </div>
        </div>
    </div>
}

